*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif , serif ;
}

html,body{
    height: 100dvh;
    height: 100vh;
    height: 100%;
    /* overflow-z: hidden; */
}

body h2, a , footer nav.nav-footer p  {
    font-family: var(--font-primary);
}

body p , li , input , textarea , section.banner  .text-banner-single , span{
    font-family: var(--font-secundary);
}

/* @font-face {
    font-family: "Teko", sans-serif;
} */

.clear{
    clear: both;
}

header nav.desktop ul li{
    list-style-type: none;
}

.container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

