*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "genshin font" ;
}

html,body{
    height: 100%;
    /* overflow-y: hidden; */
}

@font-face {
    font-family: "genshin font" ;
    src:url('../fonts/genshin-font.ttf');
}

.clear{
    clear: both;
}

header nav.desktop ul li{
    list-style-type: none;
}

