/* @media (max-width:768px){
    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info .descricao{
        width: 60%;
        text-align: center;
    }
} */

@media (max-width:768px){
    .text-banner{
        display: flex;
        flex-direction: column;
        padding: 10%;
    }
    
    nav.mobile{
        display:block;
        float: right;
    }

    nav.mobile ul{
        display: block;
    }

    nav.desktop{
        display: none;
    }   

    section.electro-boss .container{
        max-width: 1000px;
        padding: 40px 0;
        text-align: center;
    } 

    .THE-bosses{
        float: none;
        display: inline-block;
        width: 80%;
    }

    .THE-bosses a{
        margin: 15px;
        display: inline-block;
        border-radius: 20px;
    }

    .THE-bosses .perfil-img{
        border-radius: 20px;
    }
}

@media (max-width:414px){
    
    .text-banner{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-banner-single{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-banner .text-banner-single:nth-of-type(2){
        width: 100%;
        height: 80px;
    }

    .text-banner .text-banner-single:nth-of-type(3){
        width: 100%;
        height: 80px;
    }

    .THE-bosses{
        width: 100%;
    }
}

@media (max-width:360px) {
    .text-banner-single{
        font-size: 100%;
        width: 87%;
        text-align: center;
    }

    .text-banner .text-banner-single:nth-of-type(2){
        width: 87%;
        height: 80px;
    }

    .text-banner .text-banner-single:nth-of-type(3){
        width: 87%;
        height: 80px;
    }
}

@media screen and (max-width:1400px) {
    section.banner{
        background-position: center;
    }
}

@media screen and (max-width:1024px) {
    section.banner{
        background-size: cover;
        background-position: center;
        height: 70vh;
        min-height: 500px;
    }
}